@for (meteor of meteorCount(); track $index) {
  <span
    class="animate-meteor-effect absolute top-1/2 left-1/2 h-0.5 w-0.5 rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] rotate-[215deg] before:content-[''] before:absolute before:top-1/2 before:transform before:-translate-y-[50%] before:w-[50px] before:h-[1px] before:bg-gradient-to-r before:from-[#64748b] before:to-transparent z-0"
    [ngStyle]="{
      top: 0,
      left: randomizeLeftPosition(),
      animationDelay: randomizeAnimationDelay(),
      animationDuration: randomizeAnimationDuration()
    }">
  </span>
}

