<div class="flex">
  <nb-form-field>
    <nb-icon
      nbPrefix
      icon="search-outline"
      pack="eva"></nb-icon>
    <input
      nbInput
      [formControl]="searchControl"
      placeholder="Search transactions…" />
  </nb-form-field>

  <button
    nbButton
    size="small"
    (click)="openCreateTransactionModal()"
    class="ml-auto">
    <nb-icon icon="plus-outline"></nb-icon>
    Create transaction
  </button>
</div>

<!-- TODO: Table could possible use pagination/virtual scroll with larger data set. -->
<div
  app-table-container
  [nbSpinner]="isFetchingList()">
  <table
    app-table
    #transactionTable
    [appData]="transactions()"
    appNoRecords="No transactions found, start adding new transactions.">
    <thead app-table-head>
      <tr app-table-header-row>
        <th
          app-table-header-cell
          appWidth="100px"
          appAlign="center">
          Type
        </th>
        <th app-table-header-cell>Title</th>
        <th app-table-header-cell>Date</th>
        <th app-table-header-cell>Amount</th>
        <th app-table-header-cell>Category</th>
        <th app-table-header-cell>Description</th>
        <th
          app-table-header-cell
          appWidth="100px"
          appAlign="center">
          Actions
        </th>
      </tr>
    </thead>
    <tbody app-table-body>
      @for (item of transactionTable.appData(); track $index) {
        <tr app-table-body-row>
          <td
            app-table-body-cell
            appWidth="100px"
            appAlign="center">
            @if (item.type === transactionType.Income) {
              <nb-icon
                icon="arrowhead-up-outline"
                status="success">
              </nb-icon>
            } @else {
              <nb-icon
                icon="arrowhead-down-outline"
                status="danger">
              </nb-icon>
            }
          </td>
          <td
            app-table-body-cell
            [highlight]="true">
            {{ item.title }}
          </td>
          <td app-table-body-cell>
            {{ item.date | date: 'dd/MM/yy' }}
          </td>
          <td app-table-body-cell>{{ item.amount | currency: 'EUR' }}</td>
          <td app-table-body-cell>
            {{ getCategoryName(item.categoryId)() }}
          </td>
          <td app-table-body-cell>
            {{ item.description }}
          </td>
          <td
            app-table-body-cell
            appWidth="100px"
            appAlign="center">
            <ng-template #removeTransactionPopover>
              <app-popover-confirmation
                (appConfirm)="deleteTransaction(item.id)"
                (appCancel)="handlePopoverCancel()">
                Are you sure you want to remove this transaction?
              </app-popover-confirmation>
            </ng-template>

            <button
              nbButton
              ghost
              status="danger"
              [nbPopover]="removeTransactionPopover"
              nbPopoverTrigger="click"
              nbPopoverPlacement="bottom">
              <nb-icon
                icon="trash-2-outline"
                status="danger">
              </nb-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
