<nb-form-field class="w-full !max-w-none">
  <input
    nbInput
    class="w-full !max-w-none"
    [id]="appName()"
    [type]="computedType()"
    [status]="controlStatus()"
    [formControl]="appControl()" />
  @if (appIsSecret()) {
    <button
      type="button"
      nbSuffix
      nbButton
      ghost>
      <nb-icon
        [icon]="appShowSecret() ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        (click)="toggleSecret()">
      </nb-icon>
    </button>
  }
</nb-form-field>
