<app-auth-screen>
  <app-form-group
    [appForm]="signUpForm"
    (appFormSubmit)="submit()">
    <!-- Email input -->
    @if (signUpForm.controls.email; as emailControl) {
      <app-form-control>
        <app-label appFor="email">E-mail</app-label>
        <app-input
          [appControl]="emailControl"
          appName="email">
        </app-input>
        @if (emailControl.hasError('required') && emailControl.touched) {
          <app-validation-message>E-mail is required</app-validation-message>
        } @else if (emailControl.hasError('pattern') && emailControl.touched) {
          <app-validation-message>Invalid e-mail format</app-validation-message>
        }
      </app-form-control>
    }

    <!-- Password input -->
    @if (signUpForm.controls.password; as passwordControl) {
      <app-form-control>
        <app-label appFor="password">Password</app-label>
        <app-input
          [appControl]="passwordControl"
          appType="password"
          appName="password">
        </app-input>
        @if (passwordControl.hasError('required') && passwordControl.touched) {
          <app-validation-message>Password is required</app-validation-message>
        }
      </app-form-control>
    }

    <!-- Confirm password input -->
    @if (signUpForm.controls.passwordConfirm; as passwordConfirmControl) {
      <app-form-control>
        <app-label appFor="confirmPassword">Confirm Password</app-label>
        <app-input
          [appControl]="passwordConfirmControl"
          appType="password"
          appName="confirmPassword">
        </app-input>
        @if (passwordConfirmControl.hasError('required') && passwordConfirmControl.touched) {
          <app-validation-message>Password confirmation is required</app-validation-message>
        } @else if (signUpForm.hasError('confirmPassword') && passwordConfirmControl.touched) {
          <app-validation-message>Mismatching passwords</app-validation-message>
        }
      </app-form-control>
    }

    <!-- Submit button -->
    <button
      nbButton
      status="primary"
      class="w-full relative"
      [nbSpinner]="isAuthenticating()"
      [disabled]="isAuthenticating()">
      Sign-up now
    </button>

    <!-- Redirect link -->
    <span
      [routerLink]="['/', appRoute.Auth, authRoute.Login]"
      class="caption-2 self-center cursor-pointer">
      Or sign-in using an existing account <span class="underline">here.</span>
    </span>
  </app-form-group>
</app-auth-screen>
